
<div id="character-entry">
  <div id="character">
    <img id="character-icon"></img>
    <div id="character-stats">
      <li id='hp' class='stats'>HP:</li> 
      <li id='str' class='stats'>Str: </li>
      <li id='mag' class='stats'>Mag: </li>
      <li id='skill' class='stats'>Skill: </li>
    </div>
    <div id='character-stats'>
      <li id='spd' class='stats'>Lck:</li> 
      <li id='lck' class='stats'>Spd: </li>
      <li id='def' class='stats'>Def: </li>
      <li id='res' class='stats'>Res: </li>
    </div>
  </div>
  <div id="character_options">
    <select name="Select a character" id="character_select">
      <option value="Hana">Hana</option>
      <option value="Sakura">Sakura</option>
    </select>
    <span id="gender"></span>
    <select name="Class" id="character_classes"></select>
    <select name="Select a partner support" id="romantic_supports"></select>
    <select name="Select an A+ support" id="aplus_supports"></select>
  </div>
</div>